@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-dark-border;
  }
  
  body {
    @apply bg-dark-bg text-white;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-dark-surface;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-slate-600 rounded hover:bg-slate-500;
  }
}
